.content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
    font-size: 1.1em;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #f0ebdc;
    line-height: 1.3;
    text-align: justify;
    height: 93vh;
    border-bottom: dashed 1px snow;
}
