.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed #f0ebdc;
    animation: rotate 3s infinite linear;
    margin: 0;

    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}

.loader_text {
    position: relative;
    left: 46%;
    transform: translate(0, -50%);
    margin-top: -50px;
}
